#!/usr/bin/make -f
%:
	dh $@

override_dh_auto_build:
	cargo build --release

override_dh_auto_install:
	install -D -m 755 target/release/travel-net debian/travel-net/usr/sbin/travel-net
	install -D -m 644 debian/travel-net.service debian/travel-net/lib/systemd/system/travel-net.service
	install -D -m 644 config/etc/travel-net/config.json debian/travel-net/etc/travel-net/config.json
	install -D -m 644 nftables/travel-net.nft debian/travel-net/etc/travel-net/travel-net.nft
