[Unit]
Description=travel-net NAT Router
After=network.target network-online.target travel-net-overlay.service
Wants=network-online.target
Requires=travel-net-overlay.service

[Service]
Type=simple
ExecStart=/usr/sbin/travel-net
Restart=always
RestartSec=5
User=root

[Install]
WantedBy=multi-user.target
